VITE_APP_NAME=InvitaSR
VITE_API_BASE_URL=/api
VITE_BO_ROUTE_PREFIX=/backoffice
VITE_AUTH_MODE=cookie
VITE_PUBLIC_BASE_DOMAIN=invitasr.localhost

# VITE_PUBLIC_APP_URL=https://app.invitasr.localhost:4433
# Si prefieres invitasr.local, deberás resolver hosts manualmente.
